
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    background-color: #171717;
    color: #f4f4f4;
    /* overflow: hidden; */
    min-height: 100dvh;
    padding: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #141414;
    padding: 2rem;
    overflow-y: auto;
}

h1 {
    font-size: 2.5rem;
    color: #f7f7f7;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
    width: 100%;
}

input {
    padding: .75rem 1rem;
    outline: none;
    font-family: inherit;
    font-size: .85rem;
    border-radius: .25rem;
    width: 100%;
}

button {
    outline: none;
    border: none;
    border-radius: .25rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: blue;
    color: #f4f4f4;
    cursor: pointer;
}

button.new {
    background-color: green;
}

button.delete {
    background-color: red;
}
